<div class="upload-container">
  <div
    class="drop-zone"
    [class.drag-over]="isDragOver()"
    [class.has-file]="uploadedFile()"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
    (click)="fileInput.click()"
  >
    @if (!uploadedFile()) {
      <mat-icon class="upload-icon">cloud_upload</mat-icon>
      <p class="upload-text">Drag and drop CSV file here</p>
      <p class="upload-subtext">or click to browse</p>
      <p class="file-info">Max size: {{ maxFileSizeMB() }} MB</p>
    } @else {
      <mat-icon class="success-icon">check_circle</mat-icon>
      <p class="file-name">{{ uploadedFile()?.name }}</p>
      <p class="file-size">{{ formatFileSize(uploadedFile()!.size) }}</p>
      <button
        mat-raised-button
        color="warn"
        class="clear-button"
        (click)="clearFile($event)"
      >
        <mat-icon>close</mat-icon>
        Clear File
      </button>
    }
  </div>

  <input
    #fileInput
    type="file"
    accept=".csv"
    (change)="onFileSelected($event)"
    style="display: none"
  />
</div>
